## Company Code Data Transformation

In [1]:
import pandas as pd
import numpy as np
import re
from io import StringIO
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Importing data

In [2]:
def text_reader(path):
    """
    Function opens the text file and
    reads the contents of the file
    
    Parameters
    ----------
    path - path to the file to read
        Python String
        
    Returns
    -------
    data - data
        Python String
    """
    # Open the file 
    text_file = open(path, 'r')
    # Read the contents of the file 
    data = text_file.read()
    # Close the file
    text_file.close()
    print(f"[INFO] - Data has been read from the following path: {path}")
    return data

def text_processing(data):
    """
    Function process the text data:
    1. Captures rows that have table pattern using RegEx
    
    | field1 | field2 | field3 |
    |  1204  | 131890 | Cat_Val|
    
    Parameters
    ----------
    data - data
        Python String
    
    Returns
    -------
    processed_data - List of rows
        Python List
    """
    # Get rows that have table pattern | field1 | field2 | field3 |
    captured = re.findall(r"([^\n]*\|(\s*\w*\s*)*(\r?\n)?)(?=(\r?\n){2}|$)", data, re.MULTILINE|re.DOTALL)
    print(f"[INFO] - Captured {len(captured)} rows.")
    # Initialize empty list that will contain rows with data
    rows = []
    for captured_group in captured:
        row, _, _, _ = captured_group
        # If there is a divider |---------| skip
        if "--------" not in row:
            rows.append(row)
    print(f"[INFO] - Final number of rows: {len(rows)}")
    return rows


def str2frame(str_data, sep = '|', lineterm = '\n', index_header = 0, set_header = True):
    """
    Source: https://stackoverflow.com/a/68032799
    Function converts string of data to Pandas DataFrame
    
    Parameters
    ----------
    str_data - data in a string format
        Python String
    sep - separator
        Python String
    lineterm - rows separator
        Python String
    index_header - index to set the header to
        Python Integer
    set_header - flag to set first row as a header
        Boolean
    
    Returns
    -------
    data - data in Pandas DataFrame format
        Pandas DataFrame
    """
    data_list = [x.split(sep) for x in str_data.split(lineterm)]
    df = pd.DataFrame(data_list)
    if set_header:
        df = df.drop_duplicates()
        new_header = df.iloc[index_header] #grab the first row for the header
        df = df[index_header+1:] #take the data less the header row
        df.columns = new_header #set the header row as the df header
        df.columns = list(df.columns)
    print(f"[INFO] - Shape of the generated Pandas DataFrame: {df.shape}")
    return df.drop(columns=['',''],axis=1).reset_index(drop=True)

In [3]:
text_datb  = text_reader("datb.txt")
datb = text_processing(text_datb)
L_Datb = str2frame("\n".join(datb))

[INFO] - Data has been read from the following path: datb.txt
[INFO] - Captured 74389 rows.
[INFO] - Final number of rows: 73059
[INFO] - Shape of the generated Pandas DataFrame: (71730, 25)

In [4]:
text_credit_Overview  = text_reader("Credit_Overview_New.txt")
credit_Overview = text_processing(text_credit_Overview)
L_credit_Overview = str2frame("\n".join(credit_Overview))

[INFO] - Data has been read from the following path: Credit_Overview_New.txt
[INFO] - Captured 176325 rows.
[INFO] - Final number of rows: 170637
[INFO] - Shape of the generated Pandas DataFrame: (164950, 17)

In [5]:
Company_Code = pd.read_csv('Company Code Data.txt',encoding='cp1252')
T_Account_Owner = pd.read_excel('T_Account_owner.xls','T_Account_owner')
T_Accounting_Clerk = pd.read_excel('Mapping.xlsx', 'T_Accounting_Clerk')
T_Chart_Of_Accounts = pd.read_excel('Mapping.xlsx', 'T_Chart_Of_Accounts')
T_Risk_Category = pd.read_excel('Mapping.xlsx', 'T_Risk_Category')
T_User = pd.read_excel('Mapping.xlsx', 'T_User')
T_Posting_Key = pd.read_excel('Mapping.xlsx', 'T_Posting_Key')
T_Manager = pd.read_excel('Mapping.xlsx', 'T_Manager')
T_Province_CreditAnalyst = pd.read_excel('Mapping.xlsx', 'T_Province_CreditAnalyst')
T_ReasonCodes = pd.read_excel('Mapping.xlsx', 'T_ReasonCodes')
T_Aging_Table = pd.read_excel('Mapping.xlsx', 'T_Aging_Table')

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# def Load_datb(data):
#     col_name = ["Account","DocumentNo","Doc. Date" ,"Assignment","Reference","Arrear","Type","PK","RCd","LC amnt","Text","G/L" ,"Net due dt" ,"User name","Stat","Ref.Key 1","Ref. Key 2","Disc.1","DChl","SOrg.","Case ID","CoCd","Offst.acct"]
#     datb = data.drop_duplicates()
#     df = datb[(datb[0] != '*') & (datb[0] != 'Customer *')]
#     df1 = df.drop(df.index[0:7])
#     df2 = df1[:-1]
#     finaldatb = df2[0].str.split('|', expand=True)
#     finaldatb = finaldatb.reset_index()
#     finaldatb = finaldatb.iloc[:, 1:]
#     finaldatb = finaldatb.iloc[:, :-1]
#     finaldatb = finaldatb.iloc[:, 1:]
#     finaldatb.columns = col_name

#     return finaldatb


# def Load_Overview(data):
#     credit_Overview = data.drop_duplicates()
#     credit_Overview_1 = credit_Overview.drop(credit_Overview.index[0:3])
#     credit_Overview_final = credit_Overview_1[0].str.split('|', expand=True)
#     credit_Overview_final = credit_Overview_final.iloc[:, 1:]
#     credit_Overview_final = credit_Overview_final.iloc[:, :-1]
#     credit_Overview_final.columns = credit_Overview_final.iloc[0]
#     credit_Overview_final = credit_Overview_final.iloc[1:, :]
#     credit_Overview_final = credit_Overview_final.reset_index()
#     credit_Overview_final = credit_Overview_final.iloc[:, 1:]

#     return credit_Overview_final
# L_Datb = Load_datb(Datb)
# L_credit_Overview = Load_Overview(Credit_Overview)

In [7]:
L_Datb.columns = L_Datb.columns.str.replace(' ', '')
L_Datb = L_Datb[:-1]
col_name = ["Customer","CCAr",
"Cred. acct",
"Risk cat.",
"Curr.",
"Credit limit",
"Created by",  
"Created on",
"Street",                             
"City",                               
"Rg", 
"PostalCode",
"Lst int.rv",
"Nxt review",""]
L_credit_Overview.columns = col_name
L_credit_Overview = L_credit_Overview[:-1]
L_credit_Overview = L_credit_Overview.drop(0)

In [8]:
def last_to_first_LC_amount():
    L_Datb['LCamnt'].str.strip()
    LC_amnt = L_Datb['LCamnt'].str[-1:]
    L_Datb['LCamnt'] = L_Datb['LCamnt'].astype(str).str[:-1]
    L_Datb['LCamnt'].str.replace(' ', '')
    L_Datb['LCamnt'] = LC_amnt + L_Datb['LCamnt'].astype(str)
    
def last_to_first_Arrear():
    L_Datb['Arrear'].str.strip()
    LC_amnt = L_Datb['Arrear'].str[-1:]
    L_Datb['Arrear'] = L_Datb['Arrear'].astype(str).str[:-1]
    L_Datb['Arrear'].str.replace(r'^\s*$', '')
    L_Datb['Arrear'] = LC_amnt + L_Datb['Arrear'].astype(str)
    
def Date_converstion():    
    L_Datb['Doc.Date'] = L_Datb['Doc.Date'].str.replace('.','/')
    L_Datb['Doc.Date'] = pd.to_datetime(L_Datb['Doc.Date']).dt.date
    L_Datb['Netduedt'] = L_Datb['Netduedt'].str.replace('.','/')
    L_Datb['Netduedt'] = pd.to_datetime(L_Datb['Netduedt']).dt.date

# def Date_converstion_credit_Overview():    
#     L_Datb['Created on'] = L_Datb['Created on'].str.replace('.','/')
#     L_Datb['Created on'] = pd.to_datetime(L_Datb['Created on']).dt.date
#     L_Datb['Lst int.rv'] = L_Datb['Lst int.rv'].str.replace('.','/')
#     L_Datb['Lst int.rv'] = pd.to_datetime(L_Datb['Lst int.rv']).dt.date
#     L_Datb['Nxt review'] = L_Datb['Nxt review'].str.replace('.','/')
#     L_Datb['Nxt review'] = pd.to_datetime(L_Datb['Nxt review']).dt.date   

last_to_first_LC_amount()
last_to_first_Arrear()
Date_converstion()
L_Datb = L_Datb.replace(r'^\s*$', np.nan, regex=True)
L_credit_Overview = L_credit_Overview.replace(r'^\s*$', np.nan, regex=True)

In [9]:
L_Datb.head()

,Account,DocumentNo,Doc.Date,Assignment,Reference,Arrear,Type,PK,RCd,LCamnt,Text,G/L,Netduedt,Username,Stat,Ref.Key1,Ref.Key2,Disc.1,DChl,SOrg.,CaseID,CoCd,Offst.acct
0,344551,1400000005,2022-04-01,9652906561,WT0104WMC5208812,138,DZ,06,Z09,"6,634.79","IRR-06/14-06/13-202206132008552958, 2022061320...",1046000,2022-03-02,NBMSSH,NaN,WT01042022,9652906561,0.000,01,CA10,17691428,CA10,344551
1,251748,1400000016,2022-04-01,9653392247,WT0104SBY5488635,138,DZ,06,Z09,"13,955.15",IRR-01/17-Q-203518-04550-CON ...,1046000,2022-03-02,NBDRA,NaN,WT01042022,9653392247,0.000,01,CA10,17690747,CA10,251748
2,1598956,1400000016,2022-04-01,5108100813,WT0104SBY5488635,168,DZ,16,NaN,- 55.00,RPM CID 17670822-Z01-BEV-JP ...,1046000,2022-04-01,NBDRA,NaN,WT01042022,5108100813,0.000,NaN,NaN,NaN,CA10,1074010
3,1598956,1400000016,2022-04-01,5108100812,WT0104SBY5488635,168,DZ,16,NaN,- 55.00,RPM CID 17670827-Z01-BEV-JP ...,1046000,2022-04-01,NBDRA,NaN,WT01042022,5108100812,0.000,NaN,NaN,NaN,CA10,1074010
4,1598956,1400000016,2022-04-01,5108100811,WT0104SBY5488635,168,DZ,16,NaN,- 55.00,RPM CID 17670826-Z01-BEV-JP ...,1046000,2022-04-01,NBDRA,NaN,WT01042022,5108100811,0.000,NaN,NaN,NaN,CA10,1074010

In [10]:
L_credit_Overview.head()

,Customer,CCAr,Cred. acct,Risk cat.,Curr.,Credit limit,Created by,Created on,Street,City,Rg,PostalCode,Lst int.rv,Nxt review,
1,10000,0027,10000,106,CAD,1.00,JOBRUN,12.06.2004,NaN,NaN,NaN,NaN,21.01.2022,31.07.2022,NaN
2,10001,0027,10001,106,CAD,1.00,JOBRUN,12.06.2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10002,0027,10002,106,CAD,1.00,JOBRUN,12.06.2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10003,0027,10003,106,CAD,1.00,JOBRUN,12.06.2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10004,0027,10004,106,CAD,1.00,JOBRUN,12.06.2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
T_Account_Owner.head()

,cust_no,Financial_Settlement,Cust Name,New CDT,Trade Analyst,Street PY,Province PY,PostalCodePY,CO Code Payment Terms,Accounting Clerk,COS Deduction Agent,Financial_Settlement.1,Unnamed: 12
0,10000,Inas Basalious_Allied,Miscellaneous Customer - Ontario,Affiliate,NaN,MISC ONTARIO,ON,0,Z018-Due within 30days of Inv date,16.0,Inas Basalious_Allied,NaN,1.0
1,10001,Inas Basalious_Allied,Miscellaneous Customer - Quebec,Affiliate,NaN,MISC QUEBEC,QC,0,Z018-Due within 30days of Inv date,16.0,Inas Basalious_Allied,NaN,1.0
2,10003,Inas Basalious_Allied,Miscellaneous Customer - BC,Affiliate,NaN,MISC BC,BC,0,Z018-Due within 30days of Inv date,16.0,Inas Basalious_Allied,NaN,1.0
3,10021,Inas Basalious_Allied,Sample Account - Ontario,Affiliate,NaN,NaN,ON,0,Z018-Due within 30days of Inv date,16.0,Inas Basalious_Allied,NaN,1.0
4,10023,Inas Basalious_Allied,Sample Account - Alberta,Affiliate,NaN,MISC - Alberta,AB,0,Z018-Due within 30days of Inv date,16.0,Inas Basalious_Allied,NaN,1.0

In [12]:
T_Accounting_Clerk.head()

   CoCd  Acctg_clerk              Acctg clerk_name
0  CA10            0                  New Customer
1  CA10            1  Customer acct to be assigned
2  CA10            2                   NBS_BuySell
3  CA10            3                 NBS_Starbucks
4  CA10            4                   NBS_LCL/SDM

In [13]:
T_Chart_Of_Accounts.head()

,Number,GL_Number,Description,FS Vers,FS Descriptions,FI_Node,FI_Description,VF_Key,VF_Description
0,210031,210031,Statutory,NaN,NaN,NaN,NaN,NaN,NaN
1,1001001,1001001,Land - Parallel 1,NaN,NaN,NaN,NaN,NaN,NaN
2,1001002,1001002,Petty Cash 2,NaN,NaN,NaN,NaN,NaN,NaN
3,1001003,1001003,Petty Cash 3,NaN,NaN,NaN,NaN,NaN,NaN
4,1001004,1001004,Petty Cash 4,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
T_Risk_Category.head()

   risk_cat Risk_cat_description
0       NaN           Unassigned
1       0.0         New Customer
2       1.0              No Risk
3       2.0             Low Risk
4       3.0          Medium Risk

In [15]:
T_User.head()

,user,user_name,team,audit,emp_id,Non-CDT,Division,Responsible Dept,FC_0035,FC_0036,FC_1011,CS_0025
0,asarban,"Sarbandi,Afi,VEVEY,Contractor for Global Busin...",Global Business Solutions,False,NaN,NaN,NaN,NaN,False,False,False,False
1,CAADILS,"Adil,Syed Ali,BRAMPTON,Customer Service - Finance",TTS Manager,False,NaN,NaN,NaN,NaN,False,False,False,False
2,CAAHADISA,"Ahadi,Sara,NORTH YORK,Finance - Corporate Acco...",Finance - Corporate Accounting,False,NaN,NaN,NaN,NaN,False,False,False,False
3,CAAHMEDSA,Former Employee,NaN,False,NaN,NaN,NaN,NaN,False,False,False,False
4,CAAkhtarSa,"Akhtar,Sara,BRAMPTON,Finance - CD - LCL/Metro ...",Trade Analyst - Temp,False,NaN,CDT,Retail,NaN,False,False,False,False

In [16]:
T_Posting_Key.head()

   PostingKey  PK#          Description  DR/CR Category Category2
0           1    1              Invoice  Debit  Invoice   Invoice
1           2    2  Reverse Credit Memo  Debit  Ded/Adj   Ded/Adj
2           3    3         Bank Charges  Debit  Ded/Adj   Ded/Adj
3           4    4    Other Receivables  Debit  Ded/Adj   Ded/Adj
4           5    5     Outgoing Payment  Debit  Ded/Adj   Ded/Adj

In [17]:
T_Manager.head()

   sequence               team            manager
0         0       0HDC FS Team       Gary Bernard
1         1    1High Risk Team  Heather Donaldson
2         2  2Route Settlement        Debbie Wood

In [18]:
T_Province_CreditAnalyst.head()

  Province PY Credit_analyst
0          ON   Habib Rahman
1          QC   Habib Rahman
2          BC   Habib Rahman
3          AB   Habib Rahman
4          US   Habib Rahman

In [19]:
T_ReasonCodes.head()

,reason_code,reason_c_description,PKTYPR,Owner,Reporting,dispute_management,Responsible Dept,classification,GL,Trade/Non-Trade
0,Z97,W/O Distribution Small Balance,Invoice,NaN,NaN,Distribution,Customer Follow-up,Damages,3024310.0,Non-Trade
1,Z99,W/O Unearned Cash Discount,Invoice,NaN,NaN,Finance,Customer Follow-up,Unexplained,2066000.0,Non-Trade
2,052,Cash Disc f. net,Invoice,NaN,NaN,NaN,Customer Follow-up,Unexplained,NaN,Non-Trade
3,055,Pmt on acct,Payment,NaN,NaN,NaN,Customer Follow-up,Unexplained,NaN,Non-Trade
4,057,Calculation Error,Invoice,NaN,NaN,NaN,Customer Follow-up,Unexplained,NaN,Non-Trade

In [20]:
T_Aging_Table.head()

,Days,Aging_Cat,Age_cat2,Age_cat3,Aging_Auditor,Current,Past Due,Dunning_Cat,Aging_Reporting,Aging_Deductions,Aging_Cat_FS,Aging_Category,Aging_Cat_Disc,Aging_DM,Aging_Terms,Aging_UGI,Aging_DSO_Analysis,Cust_Aging_DSO_Analysis
0,-1460,_Current,_Current,_Current,_Current,Current,NaN,Current,_Current_90_23,_Current_Over5WksBeforeDue,_Current,_Current,_Current,01-15 Days,Unpaid,Unpaid,Unpaid,Unpaid
1,-1459,_Current,_Current,_Current,_Current,Current,NaN,Current,_Current_90_23,_Current_Over5WksBeforeDue,_Current,_Current,_Current,01-15 Days,Unpaid,Unpaid,Unpaid,Unpaid
2,-1458,_Current,_Current,_Current,_Current,Current,NaN,Current,_Current_90_23,_Current_Over5WksBeforeDue,_Current,_Current,_Current,01-15 Days,Unpaid,Unpaid,Unpaid,Unpaid
3,-1457,_Current,_Current,_Current,_Current,Current,NaN,Current,_Current_90_23,_Current_Over5WksBeforeDue,_Current,_Current,_Current,01-15 Days,Unpaid,Unpaid,Unpaid,Unpaid
4,-1456,_Current,_Current,_Current,_Current,Current,NaN,Current,_Current_90_23,_Current_Over5WksBeforeDue,_Current,_Current,_Current,01-15 Days,Unpaid,Unpaid,Unpaid,Unpaid

## Data Transformation

In [21]:
print(L_Datb.dtypes)

Account        object
DocumentNo     object
Doc.Date       object
Assignment     object
Reference      object
Arrear         object
Type           object
PK             object
RCd            object
LCamnt         object
Text           object
G/L            object
Netduedt       object
Username       object
Stat          float64
Ref.Key1       object
Ref.Key2       object
Disc.1         object
DChl           object
SOrg.          object
CaseID         object
CoCd           object
Offst.acct     object
dtype: object

In [22]:
convert_data_type = {
"Account": float,
"Assignment": str,
"Reference":str,
"Type":str ,
"RCd":str,
"Text":str,
"Username":str,
"Stat":str,
"Ref.Key1":str,
"Ref.Key2": str,
"Disc.1":float,
}
L_Datb = L_Datb.astype(convert_data_type)
print(L_Datb.dtypes)

Account       float64
DocumentNo     object
Doc.Date       object
Assignment     object
Reference      object
Arrear         object
Type           object
PK             object
RCd            object
LCamnt         object
Text           object
G/L            object
Netduedt       object
Username       object
Stat           object
Ref.Key1       object
Ref.Key2       object
Disc.1        float64
DChl           object
SOrg.          object
CaseID         object
CoCd           object
Offst.acct     object
dtype: object

In [23]:
print(L_credit_Overview.dtypes)
convert_data_type = {
"Customer": float
}
L_credit_Overview = L_credit_Overview.astype(convert_data_type)
print(L_credit_Overview.dtypes)

Customer         object
CCAr             object
Cred. acct       object
Risk cat.        object
Curr.            object
Credit limit     object
Created by       object
Created on       object
Street           object
City             object
Rg               object
PostalCode       object
Lst int.rv       object
Nxt review       object
                float64
dtype: object
Customer        float64
CCAr             object
Cred. acct       object
Risk cat.        object
Curr.            object
Credit limit     object
Created by       object
Created on       object
Street           object
City             object
Rg               object
PostalCode       object
Lst int.rv       object
Nxt review       object
                float64
dtype: object

In [24]:
Datb_T_Account_Owner_Join = pd.merge(L_Datb,T_Account_Owner, left_on ='Account', right_on='cust_no', how ='left')
print(f"[INFO] - Shape of the generated Pandas DataFrame: {Datb_T_Account_Owner_Join.shape}")

[INFO] - Shape of the generated Pandas DataFrame: (71729, 36)

In [25]:
Datb_T_Account_Owner_Join.head(25)

,Account,DocumentNo,Doc.Date,Assignment,Reference,Arrear,Type,PK,RCd,LCamnt,Text,G/L,Netduedt,Username,Stat,Ref.Key1,Ref.Key2,Disc.1,DChl,SOrg.,CaseID,CoCd,Offst.acct,cust_no,Financial_Settlement,Cust Name,New CDT,Trade Analyst,Street PY,Province PY,PostalCodePY,CO Code Payment Terms,Accounting Clerk,COS Deduction Agent,Financial_Settlement.1,Unnamed: 12
0,344551.0,1400000005,2022-04-01,9652906561,WT0104WMC5208812,138,DZ,06,Z09,"6,634.79","IRR-06/14-06/13-202206132008552958, 2022061320...",1046000,2022-03-02,NBMSSH,nan,WT01042022,9652906561,0.0,01,CA10,17691428,CA10,344551,344551.0,Normy Ann Villarico,Wal-Mart Canada Inc,Global CDT,NaN,1940 Argentia Road,ON,L5N 1P9,Z018-Due within 30days of Inv date,7.0,Normy Ann Villarico,NaN,1.0
1,251748.0,1400000016,2022-04-01,9653392247,WT0104SBY5488635,138,DZ,06,Z09,"13,955.15",IRR-01/17-Q-203518-04550-CON ...,1046000,2022-03-02,NBDRA,nan,WT01042022,9653392247,0.0,01,CA10,17690747,CA10,251748,251748.0,John Luis Delos Santos,Sobeys Quebec Inc,Sobeys/Safeway,NaN,11281 Albert Hudon Blvd,QC,H1G 3J5,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0
2,1598956.0,1400000016,2022-04-01,5108100813,WT0104SBY5488635,168,DZ,16,nan,- 55.00,RPM CID 17670822-Z01-BEV-JP ...,1046000,2022-04-01,NBDRA,nan,WT01042022,5108100813,0.0,NaN,NaN,NaN,CA10,1074010,1598956.0,John Luis Delos Santos,Sobeys National Accounting Services,Sobeys/Safeway,NaN,123 Foord Street,NS,B0K 0A2,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0
3,1598956.0,1400000016,2022-04-01,5108100812,WT0104SBY5488635,168,DZ,16,nan,- 55.00,RPM CID 17670827-Z01-BEV-JP ...,1046000,2022-04-01,NBDRA,nan,WT01042022,5108100812,0.0,NaN,NaN,NaN,CA10,1074010,1598956.0,John Luis Delos Santos,Sobeys National Accounting Services,Sobeys/Safeway,NaN,123 Foord Street,NS,B0K 0A2,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0
4,1598956.0,1400000016,2022-04-01,5108100811,WT0104SBY5488635,168,DZ,16,nan,- 55.00,RPM CID 17670826-Z01-BEV-JP ...,1046000,2022-04-01,NBDRA,nan,WT01042022,5108100811,0.0,NaN,NaN,NaN,CA10,1074010,1598956.0,John Luis Delos Santos,Sobeys National Accounting Services,Sobeys/Safeway,NaN,123 Foord Street,NS,B0K 0A2,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0
5,1598956.0,1400000016,2022-04-01,5108100809,WT0104SBY5488635,168,DZ,16,nan,- 55.00,RPM CID 17670825-Z01-BEV-JP ...,1046000,2022-04-01,NBDRA,nan,WT01042022,5108100809,0.0,NaN,NaN,NaN,CA10,1074010,1598956.0,John Luis Delos Santos,Sobeys National Accounting Services,Sobeys/Safeway,NaN,123 Foord Street,NS,B0K 0A2,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0
6,1598956.0,1400000016,2022-04-01,9652255690,WT0104SBY5488635,138,DZ,06,Z09,78.28,IRR-06/10-04/07-W-203518-04646-PIZ ...,1046000,2022-03-02,NBDRA,nan,WT01042022,9652255690,0.0,01,CA10,17691715,CA10,251748,1598956.0,John Luis Delos Santos,Sobeys National Accounting Services,Sobeys/Safeway,NaN,123 Foord Street,NS,B0K 0A2,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0
7,1598956.0,1400000016,2022-04-01,404553873554,WT0104SBY5488635,138,DZ,06,Z09,250.00,IRD-05/19-1FU-06/15-IRR-02/15-W-203518-04725-C...,1046000,2022-03-02,NBDRA,nan,WT01042022,404553873554,0.0,01,CA10,17691721,CA10,251748,1598956.0,John Luis Delos Santos,Sobeys National Accounting Services,Sobeys/Safeway,NaN,123 Foord Street,NS,B0K 0A2,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0
8,1598956.0,1400000016,2022-04-01,14000000160652022,WT0104SBY5488635,138,DZ,06,Z06,"5,000.00",PTI-WS-Bars-04.21 ...,1046000,2022-03-02,NBDRA,nan,WT01042022,38891327,0.0,01,CA10,17691710,CA10,251748,1598956.0,John Luis Delos Santos,Sobeys National Accounting Services,Sobeys/Safeway,NaN,123 Foord Street,NS,B0K 0A2,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0
9,283188.0,1400000020,2022-04-01,9654418012,WT0104CWH6862022,138,DZ,06,Z09,357.00,IRR-01/26-8001161316-PICKUPALLOW ...,1046000,2022-03-02,NBMSSH,nan,WT01042022,9654418012,0.0,02,CA10,17691385,CA10,283188,283188.0,Normy Ann Villarico,Costco Wholesale,Global CDT,NaN,PO Box 34622,WA,98124-1622,Z018-Due within 30days of Inv date,7.0,Mike Rouel Roxas,NaN,1.0
10,251748.0,1400000023,2022-04-01,5388169294,WT0104SBY5488898,168,DZ,16,nan,- 235.01,UIP 5388169294-ICE-JP ...,1046000,2022-04-01,NBDRA,nan,WT01042022,5388169294,0.0,NaN,NaN,NaN,CA10,1074010,251748.0,John Luis Delos Santos,Sobeys Quebec Inc,Sobeys/Safeway,NaN,11281 Albert Hudon Blvd,QC,H1G 3J5,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0
11,283188.0,1400000025,2022-04-01,9653904058,WT0104CWH5010600,138,DZ,06,Z09,535.50,IRR-01/26-8001161316-PICKUPALLOW ...,1046000,2022-03-02,NBMSSH,nan,WT01042022,9653904058,0.0,02,CA10,17690997,CA10,283188,283188.0,Normy Ann Villarico,Costco Wholesale,Global CDT,NaN,PO Box 34622,WA,98124-1622,Z018-Due within 30days of Inv date,7.0,Mike Rouel Roxas,NaN,1.0
12,283188.0,1400000025,2022-04-01,9653989764,WT0104CWH5010600,138,DZ,06,Z04,"4,691.40",Returns Write Up ...,1046000,2022-03-02,NBMSSH,nan,WT01042022,9653989764,0.0,01,CA10,17691007,CA10,283188,283188.0,Normy Ann Villarico,Costco Wholesale,Global CDT,NaN,PO Box 34622,WA,98124-1622,Z018-Due within 30days of Inv date,7.0,Mike Rouel Roxas,NaN,1.0
13,344552.0,1400000027,2022-04-01,0009015704,WT0104SDM1651937,168,DZ,16,nan,"- 1,217.15",Overpymnt - Inv 9653032703 -VG for DR ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,0009015704,0.0,NaN,NaN,NaN,CA10,1074010,344552.0,Denise Marie Rivera,Shopper's Drug Mart,LCL/SDM,NaN,243 Consumers Road,ON,M2J 4W8,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0
14,251717.0,1400000030,2022-04-01,NS4849243889,WT0104LCL0289919,138,DZ,06,Z03,"1,000.00",Miscellaneous Distribution ...,1046000,2022-03-02,NBCHENNASH1,nan,WT01042022,NS4849243889,0.0,06,CA11,17690183,CA10,251717,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0
15,251717.0,1400000032,2022-04-01,20112268,WT0104LCL0289974,168,DZ,16,nan,"- 27,989.62",RPM for PK06 20112268-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112268,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0
16,251717.0,1400000032,2022-04-01,20112590,WT0104LCL0289974,168,DZ,16,nan,"- 3,383.20",RPM for PK06 20112590-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112590,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0
17,251717.0,1400000032,2022-04-01,20112558,WT0104LCL0289974,168,DZ,16,nan,"- 2,160.80",RPM for PK06 20112558-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112558,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0
18,251717.0,1400000032,2022-04-01,20112548,WT0104LCL0289974,168,DZ,16,nan,"- 2,084.80",RPM for PK06 20112548-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112548,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0
19,251717.0,1400000032,2022-04-01,20112581,WT0104LCL0289974,168,DZ,16,nan,"- 2,046.80",RPM for PK06 20112581-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112581,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0
20,251717.0,1400000032,2022-04-01,20112567,WT0104LCL0289974,168,DZ,16,nan,"- 1,139.60",RPM for PK06 20112567-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112567,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0
21,251717.0,1400000032,2022-04-01,20112600,WT0104LCL0289974,168,DZ,16,nan,"- 1,062.80",RPM for PK06 20112600-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112600,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0
22,251717.0,1400000032,2022-04-01,20112573,WT0104LCL0289974,168,DZ,16,nan,- 858.00,RPM for PK06 20112573-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112573,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0
23,251717.0,1400000032,2022-04-01,20112599,WT0104LCL0289974,168,DZ,16,nan,- 388.40,RPM for PK06 20112599-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112599,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0
24,251717.0,1400000032,2022-04-01,20112609,WT0104LCL0289974,168,DZ,16,nan,- 241.60,RPM for PK06 20112609-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112609,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0

In [26]:
Datb_Account_Credit_Join = pd.merge(Datb_T_Account_Owner_Join,L_credit_Overview, left_on ='Account', right_on='Customer', how ='left')
print(f"[INFO] - Shape of the generated Pandas DataFrame: {Datb_Account_Credit_Join.shape}")

[INFO] - Shape of the generated Pandas DataFrame: (71729, 51)

In [27]:
Datb_Account_Credit_Join.head(25)

,Account,DocumentNo,Doc.Date,Assignment,Reference,Arrear,Type,PK,RCd,LCamnt,Text,G/L,Netduedt,Username,Stat,Ref.Key1,Ref.Key2,Disc.1,DChl,SOrg.,CaseID,CoCd,Offst.acct,cust_no,Financial_Settlement,Cust Name,New CDT,Trade Analyst,Street PY,Province PY,PostalCodePY,CO Code Payment Terms,Accounting Clerk,COS Deduction Agent,Financial_Settlement.1,Unnamed: 12,Customer,CCAr,Cred. acct,Risk cat.,Curr.,Credit limit,Created by,Created on,Street,City,Rg,PostalCode,Lst int.rv,Nxt review,
0,344551.0,1400000005,2022-04-01,9652906561,WT0104WMC5208812,138,DZ,06,Z09,"6,634.79","IRR-06/14-06/13-202206132008552958, 2022061320...",1046000,2022-03-02,NBMSSH,nan,WT01042022,9652906561,0.0,01,CA10,17691428,CA10,344551,344551.0,Normy Ann Villarico,Wal-Mart Canada Inc,Global CDT,NaN,1940 Argentia Road,ON,L5N 1P9,Z018-Due within 30days of Inv date,7.0,Normy Ann Villarico,NaN,1.0,344551.0,0027,344551,101,CAD,"75,000,000.00",JOBRUN,14.07.2004,1940 Argentia Road,Mississauga,ON,L5N 1P9,29.09.2021,30.09.2022,NaN
1,251748.0,1400000016,2022-04-01,9653392247,WT0104SBY5488635,138,DZ,06,Z09,"13,955.15",IRR-01/17-Q-203518-04550-CON ...,1046000,2022-03-02,NBDRA,nan,WT01042022,9653392247,0.0,01,CA10,17690747,CA10,251748,251748.0,John Luis Delos Santos,Sobeys Quebec Inc,Sobeys/Safeway,NaN,11281 Albert Hudon Blvd,QC,H1G 3J5,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0,251748.0,0027,251748,101,CAD,"15,000,000.00",JOBRUN,13.05.2004,11281 Albert Hudon Blvd,Montreal-Nord,QC,H1G 3J5,31.05.2022,31.05.2023,NaN
2,1598956.0,1400000016,2022-04-01,5108100813,WT0104SBY5488635,168,DZ,16,nan,- 55.00,RPM CID 17670822-Z01-BEV-JP ...,1046000,2022-04-01,NBDRA,nan,WT01042022,5108100813,0.0,NaN,NaN,NaN,CA10,1074010,1598956.0,John Luis Delos Santos,Sobeys National Accounting Services,Sobeys/Safeway,NaN,123 Foord Street,NS,B0K 0A2,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0,1598956.0,0027,1598956,101,CAD,"30,000,000.00",JOBRUN,13.11.2006,123 Foord Street,Stellarton,NS,B0K 1S0,31.05.2022,31.05.2023,NaN
3,1598956.0,1400000016,2022-04-01,5108100812,WT0104SBY5488635,168,DZ,16,nan,- 55.00,RPM CID 17670827-Z01-BEV-JP ...,1046000,2022-04-01,NBDRA,nan,WT01042022,5108100812,0.0,NaN,NaN,NaN,CA10,1074010,1598956.0,John Luis Delos Santos,Sobeys National Accounting Services,Sobeys/Safeway,NaN,123 Foord Street,NS,B0K 0A2,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0,1598956.0,0027,1598956,101,CAD,"30,000,000.00",JOBRUN,13.11.2006,123 Foord Street,Stellarton,NS,B0K 1S0,31.05.2022,31.05.2023,NaN
4,1598956.0,1400000016,2022-04-01,5108100811,WT0104SBY5488635,168,DZ,16,nan,- 55.00,RPM CID 17670826-Z01-BEV-JP ...,1046000,2022-04-01,NBDRA,nan,WT01042022,5108100811,0.0,NaN,NaN,NaN,CA10,1074010,1598956.0,John Luis Delos Santos,Sobeys National Accounting Services,Sobeys/Safeway,NaN,123 Foord Street,NS,B0K 0A2,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0,1598956.0,0027,1598956,101,CAD,"30,000,000.00",JOBRUN,13.11.2006,123 Foord Street,Stellarton,NS,B0K 1S0,31.05.2022,31.05.2023,NaN
5,1598956.0,1400000016,2022-04-01,5108100809,WT0104SBY5488635,168,DZ,16,nan,- 55.00,RPM CID 17670825-Z01-BEV-JP ...,1046000,2022-04-01,NBDRA,nan,WT01042022,5108100809,0.0,NaN,NaN,NaN,CA10,1074010,1598956.0,John Luis Delos Santos,Sobeys National Accounting Services,Sobeys/Safeway,NaN,123 Foord Street,NS,B0K 0A2,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0,1598956.0,0027,1598956,101,CAD,"30,000,000.00",JOBRUN,13.11.2006,123 Foord Street,Stellarton,NS,B0K 1S0,31.05.2022,31.05.2023,NaN
6,1598956.0,1400000016,2022-04-01,9652255690,WT0104SBY5488635,138,DZ,06,Z09,78.28,IRR-06/10-04/07-W-203518-04646-PIZ ...,1046000,2022-03-02,NBDRA,nan,WT01042022,9652255690,0.0,01,CA10,17691715,CA10,251748,1598956.0,John Luis Delos Santos,Sobeys National Accounting Services,Sobeys/Safeway,NaN,123 Foord Street,NS,B0K 0A2,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0,1598956.0,0027,1598956,101,CAD,"30,000,000.00",JOBRUN,13.11.2006,123 Foord Street,Stellarton,NS,B0K 1S0,31.05.2022,31.05.2023,NaN
7,1598956.0,1400000016,2022-04-01,404553873554,WT0104SBY5488635,138,DZ,06,Z09,250.00,IRD-05/19-1FU-06/15-IRR-02/15-W-203518-04725-C...,1046000,2022-03-02,NBDRA,nan,WT01042022,404553873554,0.0,01,CA10,17691721,CA10,251748,1598956.0,John Luis Delos Santos,Sobeys National Accounting Services,Sobeys/Safeway,NaN,123 Foord Street,NS,B0K 0A2,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0,1598956.0,0027,1598956,101,CAD,"30,000,000.00",JOBRUN,13.11.2006,123 Foord Street,Stellarton,NS,B0K 1S0,31.05.2022,31.05.2023,NaN
8,1598956.0,1400000016,2022-04-01,14000000160652022,WT0104SBY5488635,138,DZ,06,Z06,"5,000.00",PTI-WS-Bars-04.21 ...,1046000,2022-03-02,NBDRA,nan,WT01042022,38891327,0.0,01,CA10,17691710,CA10,251748,1598956.0,John Luis Delos Santos,Sobeys National Accounting Services,Sobeys/Safeway,NaN,123 Foord Street,NS,B0K 0A2,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0,1598956.0,0027,1598956,101,CAD,"30,000,000.00",JOBRUN,13.11.2006,123 Foord Street,Stellarton,NS,B0K 1S0,31.05.2022,31.05.2023,NaN
9,283188.0,1400000020,2022-04-01,9654418012,WT0104CWH6862022,138,DZ,06,Z09,357.00,IRR-01/26-8001161316-PICKUPALLOW ...,1046000,2022-03-02,NBMSSH,nan,WT01042022,9654418012,0.0,02,CA10,17691385,CA10,283188,283188.0,Normy Ann Villarico,Costco Wholesale,Global CDT,NaN,PO Box 34622,WA,98124-1622,Z018-Due within 30days of Inv date,7.0,Mike Rouel Roxas,NaN,1.0,283188.0,0027,283188,101,CAD,"33,000,000.00",JOBRUN,14.05.2004,NaN,Seattle,WA,98124-1622,29.09.2021,31.08.2022,NaN
10,251748.0,1400000023,2022-04-01,5388169294,WT0104SBY5488898,168,DZ,16,nan,- 235.01,UIP 5388169294-ICE-JP ...,1046000,2022-04-01,NBDRA,nan,WT01042022,5388169294,0.0,NaN,NaN,NaN,CA10,1074010,251748.0,John Luis Delos Santos,Sobeys Quebec Inc,Sobeys/Safeway,NaN,11281 Albert Hudon Blvd,QC,H1G 3J5,Z018-Due within 30days of Inv date,5.0,Joseph Valdez,NaN,1.0,251748.0,0027,251748,101,CAD,"15,000,000.00",JOBRUN,13.05.2004,11281 Albert Hudon Blvd,Montreal-Nord,QC,H1G 3J5,31.05.2022,31.05.2023,NaN
11,283188.0,1400000025,2022-04-01,9653904058,WT0104CWH5010600,138,DZ,06,Z09,535.50,IRR-01/26-8001161316-PICKUPALLOW ...,1046000,2022-03-02,NBMSSH,nan,WT01042022,9653904058,0.0,02,CA10,17690997,CA10,283188,283188.0,Normy Ann Villarico,Costco Wholesale,Global CDT,NaN,PO Box 34622,WA,98124-1622,Z018-Due within 30days of Inv date,7.0,Mike Rouel Roxas,NaN,1.0,283188.0,0027,283188,101,CAD,"33,000,000.00",JOBRUN,14.05.2004,NaN,Seattle,WA,98124-1622,29.09.2021,31.08.2022,NaN
12,283188.0,1400000025,2022-04-01,9653989764,WT0104CWH5010600,138,DZ,06,Z04,"4,691.40",Returns Write Up ...,1046000,2022-03-02,NBMSSH,nan,WT01042022,9653989764,0.0,01,CA10,17691007,CA10,283188,283188.0,Normy Ann Villarico,Costco Wholesale,Global CDT,NaN,PO Box 34622,WA,98124-1622,Z018-Due within 30days of Inv date,7.0,Mike Rouel Roxas,NaN,1.0,283188.0,0027,283188,101,CAD,"33,000,000.00",JOBRUN,14.05.2004,NaN,Seattle,WA,98124-1622,29.09.2021,31.08.2022,NaN
13,344552.0,1400000027,2022-04-01,0009015704,WT0104SDM1651937,168,DZ,16,nan,"- 1,217.15",Overpymnt - Inv 9653032703 -VG for DR ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,0009015704,0.0,NaN,NaN,NaN,CA10,1074010,344552.0,Denise Marie Rivera,Shopper's Drug Mart,LCL/SDM,NaN,243 Consumers Road,ON,M2J 4W8,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0,344552.0,0027,344552,101,CAD,"20,700,000.00",JOBRUN,14.07.2004,243 Consumers Road,Willowdale,ON,M2J 4W8,30.04.2022,30.04.2023,NaN
14,251717.0,1400000030,2022-04-01,NS4849243889,WT0104LCL0289919,138,DZ,06,Z03,"1,000.00",Miscellaneous Distribution ...,1046000,2022-03-02,NBCHENNASH1,nan,WT01042022,NS4849243889,0.0,06,CA11,17690183,CA10,251717,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0,251717.0,0027,251717,101,CAD,"89,000,000.00",JOBRUN,13.05.2004,NaN,Winnipeg,MB,R3C 2S1,30.04.2022,30.04.2023,NaN
15,251717.0,1400000032,2022-04-01,20112268,WT0104LCL0289974,168,DZ,16,nan,"- 27,989.62",RPM for PK06 20112268-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112268,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0,251717.0,0027,251717,101,CAD,"89,000,000.00",JOBRUN,13.05.2004,NaN,Winnipeg,MB,R3C 2S1,30.04.2022,30.04.2023,NaN
16,251717.0,1400000032,2022-04-01,20112590,WT0104LCL0289974,168,DZ,16,nan,"- 3,383.20",RPM for PK06 20112590-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112590,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0,251717.0,0027,251717,101,CAD,"89,000,000.00",JOBRUN,13.05.2004,NaN,Winnipeg,MB,R3C 2S1,30.04.2022,30.04.2023,NaN
17,251717.0,1400000032,2022-04-01,20112558,WT0104LCL0289974,168,DZ,16,nan,"- 2,160.80",RPM for PK06 20112558-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112558,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0,251717.0,0027,251717,101,CAD,"89,000,000.00",JOBRUN,13.05.2004,NaN,Winnipeg,MB,R3C 2S1,30.04.2022,30.04.2023,NaN
18,251717.0,1400000032,2022-04-01,20112548,WT0104LCL0289974,168,DZ,16,nan,"- 2,084.80",RPM for PK06 20112548-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112548,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0,251717.0,0027,251717,101,CAD,"89,000,000.00",JOBRUN,13.05.2004,NaN,Winnipeg,MB,R3C 2S1,30.04.2022,30.04.2023,NaN
19,251717.0,1400000032,2022-04-01,20112581,WT0104LCL0289974,168,DZ,16,nan,"- 2,046.80",RPM for PK06 20112581-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112581,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0,251717.0,0027,251717,101,CAD,"89,000,000.00",JOBRUN,13.05.2004,NaN,Winnipeg,MB,R3C 2S1,30.04.2022,30.04.2023,NaN
20,251717.0,1400000032,2022-04-01,20112567,WT0104LCL0289974,168,DZ,16,nan,"- 1,139.60",RPM for PK06 20112567-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112567,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0,251717.0,0027,251717,101,CAD,"89,000,000.00",JOBRUN,13.05.2004,NaN,Winnipeg,MB,R3C 2S1,30.04.2022,30.04.2023,NaN
21,251717.0,1400000032,2022-04-01,20112600,WT0104LCL0289974,168,DZ,16,nan,"- 1,062.80",RPM for PK06 20112600-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112600,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0,251717.0,0027,251717,101,CAD,"89,000,000.00",JOBRUN,13.05.2004,NaN,Winnipeg,MB,R3C 2S1,30.04.2022,30.04.2023,NaN
22,251717.0,1400000032,2022-04-01,20112573,WT0104LCL0289974,168,DZ,16,nan,- 858.00,RPM for PK06 20112573-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112573,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0,251717.0,0027,251717,101,CAD,"89,000,000.00",JOBRUN,13.05.2004,NaN,Winnipeg,MB,R3C 2S1,30.04.2022,30.04.2023,NaN
23,251717.0,1400000032,2022-04-01,20112599,WT0104LCL0289974,168,DZ,16,nan,- 388.40,RPM for PK06 20112599-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112599,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0,251717.0,0027,251717,101,CAD,"89,000,000.00",JOBRUN,13.05.2004,NaN,Winnipeg,MB,R3C 2S1,30.04.2022,30.04.2023,NaN
24,251717.0,1400000032,2022-04-01,20112609,WT0104LCL0289974,168,DZ,16,nan,- 241.60,RPM for PK06 20112609-FC ...,1046000,2022-04-01,NBCHENNASH1,nan,WT01042022,20112609,0.0,NaN,NaN,NaN,CA10,1074010,251717.0,Denise Marie Rivera,Loblaws Inc,LCL/SDM,NaN,NaN,MB,R3C 2S1,Z018-Due within 30days of Inv date,4.0,John Patrick Tuazon,NaN,1.0,251717.0,0027,251717,101,CAD,"89,000,000.00",JOBRUN,13.05.2004,NaN,Winnipeg,MB,R3C 2S1,30.04.2022,30.04.2023,NaN

In [28]:
Datb_Account_Credit_Join = pd.merge(Datb_T_Account_Owner_Join,Company_Code, left_on ='Account', right_on='Payer', how ='right')
print(f"[INFO] - Shape of the generated Pandas DataFrame: {Datb_Account_Credit_Join.shape}")

[INFO] - Shape of the generated Pandas DataFrame: (322297, 56)